#canvas-scrollingText{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 1;
}

#canvas-showcase{
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 2;
}

.myImg{
    z-index: 3;
}